Client/Service References/Server/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Deployer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDeployer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RemoteFile">
    <wsdl:part name="parameters" element="tns:RemoteFile" />
  </wsdl:message>
  <wsdl:message name="RemoteFile_Headers">
    <wsdl:part name="FullPath" element="tns:FullPath" />
  </wsdl:message>
  <wsdl:message name="IDeployer_SendFile_OutputMessage" />
  <wsdl:message name="IDeployer_GetAllFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFiles" />
  </wsdl:message>
  <wsdl:message name="IDeployer_GetAllFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeployer">
    <wsdl:operation name="SendFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployer/SendFile" name="RemoteFile" message="tns:RemoteFile" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployer/SendFileResponse" message="tns:IDeployer_SendFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeployer/GetAllFiles" message="tns:IDeployer_GetAllFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeployer/GetAllFilesResponse" message="tns:IDeployer_GetAllFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDeployer" type="tns:IDeployer">
    <wsp:PolicyReference URI="#NetTcpBinding_IDeployer_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendFile">
      <soap12:operation soapAction="http://tempuri.org/IDeployer/SendFile" style="document" />
      <wsdl:input name="RemoteFile">
        <soap12:header message="tns:RemoteFile_Headers" part="FullPath" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFiles">
      <soap12:operation soapAction="http://tempuri.org/IDeployer/GetAllFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Deployer">
    <wsdl:port name="NetTcpBinding_IDeployer" binding="tns:NetTcpBinding_IDeployer">
      <soap12:address location="net.tcp://localhost:6969/Deployer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6969/Deployer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>