Client/Service References/Server/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileDetail" nillable="true" type="tns:FileDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileDetail" nillable="true" type="tns:ArrayOfFileDetail" />
  <xs:complexType name="FileDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDetail" nillable="true" type="tns:FileDetail" />
</xs:schema>